[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.46"
alembic = "==1.9.2"
elasticsearch = "==7.13.4"
elasticsearch-dsl7 = "==7.10.0"
konlpy = "==0.6.0"
psycopg2-binary = "==2.9.5"

[dev-packages]

[requires]
python_version = "3.9"
